<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="au.net.causal.maven.plugins.autojdk" level="INFO" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
